body {
  background-color: 
  #d29777;

  cursor: url(../images/crystal.png), auto;
} 

@font-face
{ font-family: "American Captain";
  src: url(font/Americancaptain.ttf) format("truetype")
}

h1{
   text-align:center;
   font-family: "American Captain";
   font-size: 45px
}

p{
  float:right;
  width: 70vw;
  margin-right: 10vw;
}

.navItem{
   display: inline;
   font-size: 23px;
   padding: 40px;
   width: 70vw;
           }

.navLinks{
  text-align: center;
}

.portrait{
  padding: 10px; 
}

a{
 color:black;
}
           a:link {
            color: black;
            background-color: transparent;
            text-decoration: none;
           }

           a:visited {
           color:black;
           background-color: transparent;
           text-decoration: none;
           }
           
           a:hover {
           color: red;
           background-color: transparent;
           text-decoration:underline;
           }

.poster{
  display: inline-block;
} 